target/
**/*.rs.bk
.idea

# MacOS misc file
*.DS_Store

# Wasm files
*.wasm
*.wat

# REPL history files
*.repl_history

# Allowed Wasm files for examples
!/examples/greeting/artifacts/*.wasm
!/examples/ipfs_node/artifacts/*.wasm
!/examples/records/artifacts/*.wasm
!/examples/site-storage/artifacts/*.wasm
!/examples/chat/artifacts/*.wasm
