target/
**/*.rs.bk
.idea

# MacOS misc file
*.DS_Store

# Wasm files
*.wasm
*.wat

# REPL history files
*.repl_history

# local storage of the url-downloader service
/examples/url-downloader/sites/*

# Allowed Wasm files for examples
!/examples/call_parameters/artifacts/*.wasm
!/examples/greeting/artifacts/*.wasm
!/examples/ipfs-node/artifacts/*.wasm
!/examples/records/artifacts/*.wasm
!/examples/sqlite/artifacts/sqlite_test.wasm
!/examples/url-downloader/artifacts/*.wasm

# Allowed Wasm files for test
!/fluence-faas/tests/wasm_tests/arguments_passing/artifacts/*.wasm
!/fluence-faas/tests/wasm_tests/arrays_passing/artifacts/*.wasm
!/fluence-faas/tests/wasm_tests/records_passing/artifacts/*.wasm
