[package]
name = "marine"
description = "Fluence Marine command line tool"
version = "0.17.0"
authors = ["Fluence Labs"]
repository = "https://github.com/fluencelabs/marine/tools/cli"
license = "Apache-2.0"
edition = "2021"

[[bin]]
name = "marine"
path = "src/main.rs"

[dependencies]
marine-it-generator = { path = "../../crates/it-generator", version = "0.11.0" }
marine-it-parser = { path = "../../crates/it-parser", version = "0.13.0" }
marine-module-info-parser = { path = "../../crates/module-info-parser", version = "0.9.0" }

cargo_toml = "0.15.2"
cargo-lock = "8.0.3"
cargo_metadata = "0.15.4"
semver = "1.0.14"
walrus = "0.20.1"
Inflector = "0.11.4"
toml = "0.7.2"
atty = "0.2.14"
thiserror = "1.0.50"
anyhow = "1.0.71"
check-latest = { version = "1.0.1", optional = true }
clap = "2.34.0"
exitfailure = "0.5.1"
serde = "1.0.147"
serde_json = "1.0.89"
termion = "1.5.6"
log = "0.4.19"
env_logger = "0.10.0"

[features]
check-latest = ["dep:check-latest"]
